*{
  font-family: 'Lato';
}
.Events-container {
  display: flex;
}

.Events-info-container {
  flex: 1;
  padding-top: 5%;
  padding-left: 10%;
}

.Events-image-wrapper {
  flex:1;
  height: 720px;
  width: 520px;
}

.Events-image {
  width: 100%;
  height: 100%;
}

.Events-title {
  text-align: center;
}
