.contact-container{
    margin: 0 auto;
    height: auto;
    font-family: Lato;
    text-align: center;
    padding-bottom: 30px;
}
.contact-openTable, .contact-parent{
    font-size: 18px;
}
.opentable-button{
    height: 53px;
}
.contact-links:hover{
    color: #920909 !important;
    cursor: pointer;
}
.contact-links:link{
    color: #000000;
}
.contact-links:visited{
    color: #000000;
}

@media(max-width:800px){
    .contact-container{
        margin: 0 auto;
        margin-top: 250px;
        height: auto;
        font-family: Lato;
        text-align: center;
    }
}
    

