/* .contorni-list{
    display:flex;
  }
  .secondi-list{
    display:flex;
  }
  .pasta-list{
    display:flex;
  }
  .insalate-list{
    display:flex;
  }
  .antipasti-list{
    display:flex;
  }
  .menu-navbar{
    text-align: center;
    } */

  .menu-list-container{
      display:flex;
      justify-content: space-between;
      height:auto;
    

  }
  .menu-Addon{
    height: 29px;
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #000000;
    text-align: center;
    margin:0 auto;
  }
#contorni-addon{
  font-size: 18px !important;

}
  .menu-dinner-heading {
        /* width: 132px; */
        height: 42px;
        font-family: 'Lato';      
        font-size: 35px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal; 
        letter-spacing: -0.2px;
        color: #000000;
        text-align: left;
      }

      .menu-selection-heading {
        /* width: 138px; */
        height: auto;
        font-family: 'Lato';
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #000000;
        display:flex;
        padding-top: 20px;
      }

      .menu-list-content{
            width: auto;
            height: auto;
            font-family: Lato;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.42;
            letter-spacing: -0.2px;
            color: #000000;
            margin-left: -40px;
      }

      .menu-list-prices{
            width: auto;
            height: auto;
            font-family: 'Lato';
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.42;
            letter-spacing: -0.2px;
            color: #000000;
      }
      
      .menu-dinner-wrapper{
          padding-left: 142px;
          padding-right: 142px;
          padding-top: 40px;
      }