.BottomImage-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    justify-content: space-around;
    

}



.BottomImage-img{
    max-height:470px;
    width: 450px ;
    height: auto;

}
  
