.BottomImage-container{
    display: flex;
    width: 100vw;
}

.BottomImage-imgContainer{
    /* flex: 1; */
    height:40%;
    width: 32.7%;
}

.BottomImage-img{
    max-height:470px;
    width:100% ;

}
