*{
  font-family: 'Lato';
}
.Drinks-wrapper {
  display: flex;
}

.Drinks-image-wrapper {
  flex:1;
}

.Drinks-menu-wrapper {
  flex: 1;
  padding-top: 5%;
  padding-left: 10%;
  
}

.Drinks-image {
  width: 90%;
  height: 90%;
  padding-left: 60px;
  padding-top: 70px;
}

.Drinks-menu-header {
  text-align: center;
  margin: 6px;
}

.Drinks-location {
  text-align: center;
  margin: 6px;
  font-size: 10pt;
}

.Drinks-availability {
  text-align: center;
  margin: 6px;
  margin-bottom: 10%;
  font-size: 10pt;
}

.Drinks-name {
  font-size: 12pt;
padding-bottom: -90px;
height:15px;}

.Drinks-description {
  font-size: 10pt;
}

.Drinks-price{
  font-size: 14pt;
  padding-bottom: 10px;
}

@media(max-width:950px){
  .Drinks-wrapper {
    display: block;
  }

  .Drinks-image-wrapper {
    width: 100vw;
    height: 100vh;  
  }
  .Drinks-image {
    width: 100%;
    height: 100%;
    padding:0;
 
  }
}