*{
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
.contorni-list{
  display:flex;
}
.secondi-list{
  display:flex;
}
.pasta-list{
  display:flex;
}
.insalate-list{
  display:flex;
}
.antipasti-list{
  display:flex;
}
.menu-navbar{
text-align: center;
}