*{
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

/* -------------------------------------------
General Menu Styles
------------------------------------------- */
.menu-heading{
  width: 172px;
  height: 57px;
  font-family: Lato;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin:0 auto;
  padding-top: 10px;
}
.menu-colorful-bg{
  background-color: pink;
  width: 100vw;
  /* height: 1794px; */
  margin-top: 20px;
}
.menu-bg{
    width: 1080px;
    /* height:auto; */
    /* height: 2000px; */
    background-color: #ffffff;
    margin: 0 auto;
    /* margin-top: 30px; */
}

.menu-navbar-container{
  text-align: center;
  padding-top: 30px;

}
.menu-navbar{
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-left:43px;
  padding-right:55px;
  /* margin:0 auto; */
  /* margin-left: 70px; */
}