.menu-heading{
    width: 172px;
    height: 57px;
    font-family: Lato;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin:0 auto;
    padding-top: 10px;
  }
  .menu-colorful-bg{
    background-image: url("../images/Menu_Background.png");
    background-size: cover;
    position:relative;
    margin-top: -35px;
  }
.maincontainer{
    background-color: rgba(0,0,0,0);
}


  #dinner-heading{
    font-weight: 900 !important;
  }
  .menu-white{
      width:1080px;
      background-color: #ffffff;
      padding-bottom: 38px;

  }
  .menu-bg{
      width: 1080px;
      height: auto;
      margin: 0 auto;
      /* margin-top: 30px !important; */
      padding-top: 27px;
      padding-bottom: 27px;
  }

  @media(max-width:950px){
      .menu-bg{width:750px;

      }
      .menu-white{
        width:750px;
        padding-bottom: 60px;
      }
      .menu-colorful-bg{
   
        margin-top: -35px;
      }
  }
  
  @media(max-width:700px){
    .menu-bg{width:600px;
    }
    .menu-navbar-container{
        display:flex;
    }
    .menu-white{
        width:700px;
    }
    .menu-navbar{
        font-size: 16px;
        padding-left:83px;
        padding-right:95px;
    }

}

@media(max-width:550px){
    .menu-bg{width:500px;
    }
    .menu-navbar-container{
        display: grid;
    }
    .menu-white{
        width:500px;

    }
    .menu-colorful-bg{
   
        margin-top: -120px;
      }
    

}

  .menu-navbar-container{
    text-align: center;
    padding-top: 30px;
  
  }
  .menu-navbar{
    font-family: 'Lato';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left:43px;
    padding-right:55px;
    /* margin:0 auto; */
    /* margin-left: 70px; */
  }


